/* html { */
/*   height: 100%; */
/*   min-height: 100%; */
/* } */
/**/
/* #app { */
/*   height: 100%; */
/*   min-height: 100%; */
/* } */

body {
  /* height: 100%; */
  /* min-height: 100%; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  /* height: 100%; */
  /* min-height: 100%; */
  background-color: var(--main-bgcolor);
  color: var(--main-color);
  /* min-height: 100vh; */
  /* position: absolute; */
  /* left: 0; */
  /* right: 0; */
}

.light {
  /* height: 100%; */
  /* width: 100%; */
  --main-bgcolor: #f0f8ff;
  --main-color: black;
  --navbar-bg: white;
  --navbar-bd: solid 1px lightgray;
  --navbarlogo-color: black;
}
.dark {
  --main-bgcolor: black;
  --main-color: white;
  --navbar-bg: #161716;
  --navbar-bd: solid 1px #262626;
  --navbarlogo-color: white;
}
